.foto_seal {position:absolute;
            height: 42px;
            left: 45%;
            top: 34px;
}

.judul{
    position: absolute;
        height: 88px;
        left: 39%;
        top: 150px;
    
        font-family: 'Collingar DEMO';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 44px;
        text-align: center;
    
        color: #461A1B;
}
.kotak     {
    position: absolute;
    width: 100%;
    height: 842px;
    left: 0px;
    top: 346px;
}

.pajangan{
            position: absolute;
                left: 42.68%;
                right: 42.68%;
                top: 15.53%;
                bottom: 67.92%;
                width: 200px;
                height: 57px;

                background: #91BB62;
                box-shadow: 0px 4px 13px
                rgba(0, 0, 0, 0.25);
}

.rusak{
    margin-left: 43px;
    transform-origin: top left;
    color: #512829;
    font-size: 48px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    position: absolute;
    left: 3.1479%;
    right: 76.2079%;
    top: 57.9847%;
    bottom: 35.1797%;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    transform: matrix(0, -1, 1, 0, 0, 0);
}

.rusak1{
        margin-right: 43px;
        transform-origin: top left;
        color: #512829;
        font-size: 48px;
        font-weight: bold;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        position: absolute;
        left: 95.9004%;
        right: -17.6428%;
        top: 23.8067%;
        bottom: 69.3577%;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
        transform: matrix(0, 1, -1, 0, 0, 0);
    }
.profil{
        color: #fdebdf;
            font-size: 32px;
            font-weight: bold;
            font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
            position: absolute;
            left: 46%;
            right: 45.9004%;
            top: 13%;
            bottom: 81.4968%;
            width: min-content;
            height: min-content;
            text-align: center;
            align-items: center;
            white-space: nowrap;
            flex-direction: column;
     
        }
.atas_e_profile{
    position: absolute;
        left: 42.6794%;
        top: 13.0819%;
        bottom: 80.2004%;
        background-color: #91bb62;

    }

.ilustrator{
            margin-top: 225px;
            left: 15.6662%;
            right: 72.6208%;
            top: 28%;
            bottom: 75.9576%;
    }
    .excel{
            margin-top: 90px;
    }

    .potosop{
            margin-top: 90px;
    }
    .xd{
            margin-top: 90px;
    }

    .daftar_1{

            font-size: 16px;
            font-weight: 600;
            font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
            position: relative;
            width: min-content;
            height: min-content;
            text-align:left;
            align-items: center;
            white-space: nowrap;
            flex-direction: column;
            color: #000;
            margin-left: 214px;
            
}

.smp {
            margin-top: -361px;

}

.smk{
            margin-top: 140px;
}

.univ{
            margin-top: 139px;

}


.daftar_sekolah{
        float: right;
        transform-origin: top left;
        left: 0%;
        position: absolute;
        font-size: 16px;
        font-weight: 600;
        font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
        position: absolute;
        width: min-content;
        height: min-content;
        text-align:right;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
        color: #000;
        margin-left: 64%;
 
        }

.fotoku{
    position: absolute;
    width: auto;
    left: 8%;
    height: 712px;
    top: 10%;
}

.bunderan{                     
    position: absolute;
    left: 15.5%;
    width: 40px;
    height: 40px;
    background: #E89C58;
    border-radius: 100%;
}
.b {
    top: 25.5%;
}
.u{
    top: 38.5%;
}
.n{                     
    top: 51.5%;
}.d {
    top: 64.5%;;
}

.bunderan1 {
    position: absolute;
    right: 12%;
    top: 26%;
    width: 40px;
    height: 40px;
    background: #E89C58;
    border-radius: 100%;
}

.e {
    top: 45%;
}
.r {
    top: 64%;
}
